<!-- Find Teammates (Query) Form -->
<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Update Lot Info <span class="glyphicon glyphicon-search"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form -->
            <form name ="updateForm">
                <div class="form-group">
                    <select ng-model="formData.selectedLocation" ng-options="x.locationName for x in locations">
                    </select>
                </div>
                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="availableSlots">Available Parking lots</label>
                    <input type="text" class="form-control" id="availableSlots" placeholder="0" ng-model="formData.availableSlots">
                </div>
                
                <!-- Query button. Note that its tied to updateLoction() function from updateCtrl.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="updateLocation()">Update</button>
            </form>
        </div>

    </div>
</div>